In [476]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mlt

In [477]:
train_data= pd.read_csv('train.csv')

In [478]:
train_data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [479]:
train_data.shape

(31647, 18)

In [480]:
train_data.isnull().sum()

ID            0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
subscribed    0
dtype: int64

In [481]:
job= train_data[['job']]
job= pd.get_dummies(job)

marital= train_data[['marital']]
marital= pd.get_dummies(marital)

education= train_data[['education']]
education= pd.get_dummies(education)

train_data['default'].replace('no',0,inplace= True)
train_data['default'].replace('yes',1,inplace= True)

train_data['housing'].replace('no',0,inplace= True)
train_data['housing'].replace('yes',1,inplace= True)

train_data['loan'].replace('no',0,inplace= True)
train_data['loan'].replace('yes',1,inplace= True)

contact= train_data[['contact']]
contact= pd.get_dummies(contact)

month= train_data[['month']]
month= pd.get_dummies(month)

poutcome= train_data[['poutcome']]
poutcome= pd.get_dummies(poutcome)

train_data['subscribed'].replace('no',0,inplace= True)
train_data['subscribed'].replace('yes',1,inplace=True)

In [482]:
train_data.drop(['job','marital','education','contact','month','poutcome',], axis=1, inplace=True)

In [483]:
data_train= pd.concat([train_data,job,marital,education,contact,month,poutcome], axis=1)

In [484]:
data_train.head()

,ID,age,default,balance,housing,loan,day,duration,campaign,pdays,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,26110,56,0,1933,0,0,19,44,2,-1,...,0,0,0,1,0,0,0,0,0,1
1,40576,31,0,3,0,0,20,91,2,-1,...,0,0,0,0,0,0,0,0,0,1
2,15320,27,0,891,1,0,18,240,1,-1,...,0,0,0,0,0,0,0,0,0,1
3,43962,57,0,3287,0,0,22,867,1,84,...,1,0,0,0,0,0,0,0,1,0
4,29842,31,0,119,1,0,4,380,1,-1,...,0,0,0,0,0,0,0,0,0,1

In [485]:
data_train.shape

(31647, 50)

In [486]:
test_data= pd.read_csv('test.csv')

In [487]:
test_data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,38441,32,services,married,secondary,no,118,yes,no,cellular,15,may,20,6,-1,0,unknown
1,40403,78,retired,divorced,primary,no,2787,no,no,telephone,1,jul,372,1,-1,0,unknown
2,3709,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown
3,37422,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown
4,12527,45,blue-collar,divorced,secondary,no,-705,no,yes,unknown,3,jul,111,1,-1,0,unknown

In [488]:
job= test_data[['job']]
job= pd.get_dummies(job)

marital= test_data[['marital']]
marital= pd.get_dummies(marital)

education= test_data[['education']]
education= pd.get_dummies(education)

test_data['default'].replace('no',0,inplace= True)
test_data['default'].replace('yes',1,inplace=True)

test_data['housing'].replace('no',0,inplace= True)
test_data['housing'].replace('yes',1,inplace=True)

test_data['loan'].replace('no',0,inplace= True)
test_data['loan'].replace('yes',1,inplace=True)

contact= test_data[['contact']]
contact= pd.get_dummies(contact)

month= test_data[['month']]
month= pd.get_dummies(month)

poutcome= test_data[['poutcome']]
poutcome= pd.get_dummies(poutcome)

In [489]:
test_data.drop(['job','marital','education','contact','month','poutcome'],1,inplace=True)

In [490]:
data_test= pd.concat([test_data,job,marital,education,contact,month,poutcome], axis=1)

In [491]:
data_test.head()

,ID,age,default,balance,housing,loan,day,duration,campaign,pdays,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,38441,32,0,118,1,0,15,20,6,-1,...,0,0,1,0,0,0,0,0,0,1
1,40403,78,0,2787,0,0,1,372,1,-1,...,0,0,0,0,0,0,0,0,0,1
2,3709,31,0,144,1,0,16,676,1,-1,...,0,0,1,0,0,0,0,0,0,1
3,37422,57,0,3777,1,0,13,65,2,-1,...,0,0,1,0,0,0,0,0,0,1
4,12527,45,0,-705,0,1,3,111,1,-1,...,0,0,0,0,0,0,0,0,0,1

# Building Predictive Model

In [492]:
y= data_train['subscribed']
x= data_train.drop('subscribed',axis=1)

In [494]:
y.shape

(31647,)

In [496]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: subscribed, dtype: int64

In [495]:
x.shape

(31647, 49)

In [497]:
x.head()

,ID,age,default,balance,housing,loan,day,duration,campaign,pdays,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,26110,56,0,1933,0,0,19,44,2,-1,...,0,0,0,1,0,0,0,0,0,1
1,40576,31,0,3,0,0,20,91,2,-1,...,0,0,0,0,0,0,0,0,0,1
2,15320,27,0,891,1,0,18,240,1,-1,...,0,0,0,0,0,0,0,0,0,1
3,43962,57,0,3287,0,0,22,867,1,84,...,1,0,0,0,0,0,0,0,1,0
4,29842,31,0,119,1,0,4,380,1,-1,...,0,0,0,0,0,0,0,0,0,1

In [455]:
from sklearn.model_selection import train_test_split

In [501]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=12)

In [502]:
x_train.shape

(25317, 49)

In [503]:
x_test.shape

(6330, 49)

In [504]:
y_train.shape

(25317,)

# LOGISTIC REGRESSION FOR LEARNING

In [505]:
from sklearn.linear_model import LogisticRegression

In [506]:
lreg= LogisticRegression()

In [507]:
lreg.fit(x_train, y_train)

C:\Users\otheruser\Anaconda_Jupyter\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [508]:
prediction= lreg.predict(x_test)

In [511]:
x_test.shape

(6330, 49)

In [512]:
from sklearn.metrics import accuracy_score

In [513]:
accuracy_score(y_test, prediction)

0.8908372827804107

# DECISION TREE CLASSIFIER FOR LEARNING

In [514]:
from sklearn.tree import DecisionTreeClassifier

In [515]:
dtc= DecisionTreeClassifier(max_depth=4,random_state=0)

In [516]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [517]:
prediction= dtc.predict(x_test)

In [518]:
accuracy_score(y_test, prediction)

0.9042654028436019

In [519]:
x_test.shape

(6330, 49)

In [528]:
data_test.shape

(13564, 49)

# RANDOM FOREST CLASSIFIER FOR LEARNING

In [536]:
from sklearn.ensemble import RandomForestRegressor
rf_random=RandomForestRegressor()

In [537]:
#Hyperparameters
import numpy as np
n_estimators=[int(x) for x in np.linspace(start=100,stop=1200,num=10)]

In [538]:
# Randomized Search CV

# Number of tres in random forest
n_estimators=[int(x) for x in np.linspace(start=100,stop=1200,num=12)]
# Number of features to consider at every split
max_features=['auto','sqrt']
# Maximum number of levels in a tree 
max_depth=[int(x) for x in np.linspace(5,30,num=6)]
# max_depth.append(None) 
# Minimum number of samples required to split a node
min_samples_split=[2,5,10,15,100]
# Minimum number of samples required at each leaf node
min_samples_leaf=[1,2,5,10]

In [539]:
from sklearn.model_selection import RandomizedSearchCV

In [540]:
# create the random grid
random_grid= {'n_estimators': n_estimators,
             'max_features': max_features,
             'max_depth': max_depth,
             'min_samples_split': min_samples_split,
             'min_samples_leaf': min_samples_leaf}

In [541]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf= RandomForestRegressor()

In [542]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs=1)

In [543]:
rf_random.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=  11.6s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=  12.4s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=  11.6s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=  12.6s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=  12.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=  18.9s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=  19.7s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=  19.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=  18.5s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=  18.7s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=  25.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=  26.3s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=  25.2s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=  24.7s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=  25.2s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=  36.9s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=  37.9s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=  38.1s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=  36.8s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=  36.2s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time= 1.1min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time= 1.0min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=  59.1s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time= 1.0min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time= 1.0min
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=  20.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=  22.4s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=  20.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=  20.8s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=  19.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   8.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   8.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   8.6s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   8.8s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   8.6s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   5.9s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   5.6s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   5.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   4.9s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   4.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   5.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   5.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   5.6s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   5.8s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   5.4s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time= 1.1min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time= 1.1min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time= 1.1min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time= 1.1min
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time= 1.1min

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   random_state=42, scoring='neg_mean_squared_error',
                   verbose=2)

In [544]:
predictions=rf_random.predict(x_test)

In [545]:
accuracy_score(y_test, prediction)

0.9042654028436019

# Testing on Real Data

In [546]:
test_prediction= dtc.predict(data_test)

In [547]:
test_prediction

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

# Creating output file

In [548]:
submission = pd.DataFrame()

In [549]:
# creating a Business_Sourced column and saving the predictions in it
submission['ID'] = data_test['ID']
submission['subscribed'] = test_prediction

In [550]:
submission.to_csv('submission.csv', header=True, index=False)